body
{

}
h1,h4
{
  font-family: 'Days One', sans-serif;
}
h2
{

}
h3
{
  font-family: 'Montserrat', sans-serif;
  color: #dfddc7;
}
p
{
  font-family: 'Montserrat', sans-serif;
}
a
{
  text-decoration: none;
  color: inherit;
}
a:hover
{
  text-decoration: none;
  color: inherit;
}
.boss
{
  background-color: #dfe2e2;
  padding-top: 30px;
  padding-bottom: 30px;
}
.top-container
{
  color: #dfddc7;
  background-color: #414141;
  text-align: center;
  padding: 8% 15%;
  padding-top: 5%;
}
.middle-container
{
  color: #dfddc7;
  background-color: #414141;
  text-align: center;
  padding: 0% 15%;
  padding-bottom: 8%;

}
.footer
{
  color: #dfddc7;
  background-color: #7d7d7d;
  text-align: center;
  padding-top: 05%;
  padding-bottom: 2%;
}
.dp
{
  width: 60%;
}

.social-icons
{
  transition: transform .2s;
  margin: 10px 20px;
}
.social-icons:hover
{
  transform: scale(2);
}
.icons
{
  transition: transform .2s;
  margin: 10px 20px;
  width: 100%;
}
.text-p
{
  margin-left: 30px;
}
.icons:hover
{
  transform: scale(1.5);
}
@media (max-width:1000px)
{
  .icons
  {
    transition: transform .2s;
    margin: 10px 20px;
    width:50%;
  }
  .icons:hover
  {
    transform: scale(1.5);
  }
}

/* ------------------------- EDUCATION ---------------------- */

.header
{
  text-align: center;
  background-color: #7d7d7d;
  color: #dfddc7;
  padding: 2% 0%;
}
.body
{
  text-align: center;
  background-color: #414141;
  color: #dfddc7;
  padding: 0% 15%;
  padding-bottom: 7%;
}
.education-icon
{
  margin-bottom: 40px;
  width: 40%;
  border-radius: 100%;
}
.edu-heading
{
  margin-bottom: 30px;
}
.edu-dp
{
  width: 10%;
  float: left;
  margin-left: 30px;
}
.cross
{
  margin-right: 30px;
  margin-top: 20px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform  .8s ease-in-out;
  width: 70%;
  text-align: right;
}
.cross:hover
{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.title
{
  margin: 0;
}
.testimonial-img
{
  margin: 20px;
  width: 10%;
  border-radius: 100%;
}
.carousel-item
{
  padding: 7% 15%;
}


/* -------------------------------- PROJECTS -------------------------------- */

.projects-body
{
  text-align: center;
  background-color: #414141;
  color: #dfddc7;
  padding: 0% 15%;
  padding-top: 0%;
  padding-bottom: 7%;
}
.projects-dp
{
  margin-bottom: 40px;
  width: 40%;
  border-radius: 0%;
}
.projects-heading
{
  margin-bottom: 30px;
}
.testimonial-text
{
  margin-bottom: 30px;
}

/* --------------------------------------- TOOLS --------------------------------- */

.tools-body
{
  text-align: center;
  background-color: #414141;
  color: #dfddc7;
  padding: 0% 15%;
  padding-top: 5%;
  padding-bottom: 7%;
}
.tools-icon
{
  float: right;
  width: 20%;
  border-radius: 100%;
}
.tools-text
{
  text-align: left;
  float: left;
}

/* ------------------------------------------ SKILLS ----------------------------------------- */

.skills-body
{
  text-align: center;
  background-color: #414141;
  color: #dfddc7;
  padding: 0% 15%;
  padding-top: 5%;
  padding-bottom: 7%;
}
.skills-icon
{
  float: right;
  width: 40%;
  border-radius: 100%;
}
.skills-text
{
  text-align: left;
  float: left;
}

/* ------------------------------------------- HOBBIES ---------------------------------- */

.hobbies-body
{
  text-align: center;
  background-color: #414141;
  color: #dfddc7;
  padding: 0% 15%;
  padding-top: 5%;
  padding-bottom: 7%;
}
.hobbies-icon
{
  float: right;
  width: 50%;

}
.hobbies-text
{
  margin-top: 35px;
  text-align: left;
  float: left;
}


/* -------------------------------------------- CONTACT ----------------------------------------- */

.contact-body
{
  text-align: center;
  background-color: #414141;
  color: #dfddc7;
  padding: 0% 15%;
  padding-top: 5%;
  padding-bottom: 7%;
}
.contact-icon
{
  transition: transform .2s;
  width: 20%;
}
.contact-heading
{
  margin-bottom: 20px;
}
.contact-text
{
  margin-bottom: 20px;
}
.contact-description
{
  margin-bottom: 50px;
}
.contact-icon:hover
{
  transform: scale(1.5);
}
